@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Source+Code+Pro:wght@400&display=swap');

* {
	box-sizing: border-box;
	-webkit-font-smoothing: antialiased;
}
html {
	font-size: 16px;
}
body {
	margin: 0;
	color: #aaa;
}
p {
	font-weight: 400;
	line-height: 1.4;
}
#app {
	/* Grid layout*/
	display: grid; 
	height: 100vh;
	grid-template-columns: 1fr 10px 1fr;
	grid-template-rows: 1fr 40px;
	background: #202121;
}	
#editor {
	grid-column: 1;
	grid-row: 1;
	overflow: hidden;
}
#gutter {
	grid-column: 2;
	grid-row: 1;
	background: #303231;
	/* border-left: 1px solid #464a48; */
	cursor: col-resize;
}
#preview {
	grid-column: 3;
	grid-row: 1;
	overflow: hidden;
}
#preview div :first-child {
	margin-top: 0;
}
#preview div :last-child {
	margin-bottom: 0;
}
#statusbar {
	grid-column: 1 / 4;
	grid-row: 2;
	background: #303231;
	font-family: 'Lato', sans-serif;
	font-size: 12px;
	color: #7a7a7a;
	line-height: 1;
	padding: 0 20px 0 7px;
	display: flex;
	justify-content: flex-end;
	align-items: center;
	font-weight: 400;
}
#editor textarea {
	background: inherit;
	padding: 20px;
	font-family: 'Source Code Pro', monospace;
	font-weight: 400;
	resize: none;
	font-size: inherit;
	line-height: inherit;
	outline: none;
	color: inherit;
	border: none;
	width: 100%;
	min-width: 200px;
	height: 100%;
	overflow: auto;
	caret-color: #fff;
}
#preview div {
	padding: 20px;
	font-family: 'Lato', sans-serif;
	width: 100%;
	min-width: 200px;
	height: 100%;
	overflow: auto;
}
@media (max-width: 680px) {
	
	#app {
		grid-template-columns: 1fr;
		grid-template-rows: 1fr 10px 1fr 40px;
	}	
	#editor {
		grid-column: 1;
		grid-row: 1;
	}
	#gutter {
		grid-column: 1;
		grid-row: 2;
		cursor: row-resize;
	}
	#preview {
		grid-column: 1;
		grid-row: 3;
	}
	#statusbar {
		grid-column: 1;
		grid-row: 4;
	}
	
}